# Data Treatment
Treatment of kaggle site databases. Link: https://www.kaggle.com/datasets/unanimad/corona-virus-brazil

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Treatment in brazil_covid19_macro.csv

In [28]:
#the data from database(macro) was converted from csv to xlsx
df_macro = pd.read_excel("brazil_covid19_macro.xlsx")
df_macro.head(5)

         date country  week  cases  deaths  recovered  monitoring
0  2020-02-25  Brasil     9      0       0        NaN         NaN
1  2020-02-26  Brasil     9      1       0        NaN         NaN
2  2020-02-27  Brasil     9      1       0        NaN         NaN
3  2020-02-28  Brasil     9      1       0        NaN         NaN
4  2020-02-29  Brasil     9      2       0        NaN         NaN

Treatment for NaN cases

In [29]:
print(df_macro['recovered'].isna().sum())
print(df_macro['monitoring'].isna().sum())

55
55

In [30]:
df_macro.describe()

             week         cases         deaths     recovered    monitoring
count  456.000000  4.560000e+02     456.000000  4.010000e+02  4.010000e+02
mean    24.763158  5.639607e+06  154145.379386  5.537075e+06  6.743853e+05
std     14.772742  4.785651e+06  121636.461406  4.218895e+06  3.173155e+05
min      1.000000  0.000000e+00       0.000000  2.213000e+04  1.406200e+04
25%     13.000000  9.724508e+05   47438.500000  1.721560e+06  4.546390e+05
50%     21.000000  5.069262e+06  149918.500000  5.088635e+06  6.819610e+05
75%     37.000000  9.133128e+06  222985.750000  8.643693e+06  8.749930e+05
max     53.000000  1.608326e+07  449068.000000  1.449217e+07  1.317658e+06

In [31]:
df_macro["recovered"].fillna(df_macro["recovered"].mean(), inplace=True)
df_macro["monitoring"].fillna(df_macro["monitoring"].mean(), inplace=True)
df_macro.head(5)

         date country  week  cases  deaths     recovered     monitoring
0  2020-02-25  Brasil     9      0       0  5.537075e+06  674385.304239
1  2020-02-26  Brasil     9      1       0  5.537075e+06  674385.304239
2  2020-02-27  Brasil     9      1       0  5.537075e+06  674385.304239
3  2020-02-28  Brasil     9      1       0  5.537075e+06  674385.304239
4  2020-02-29  Brasil     9      2       0  5.537075e+06  674385.304239

In [32]:
print(df_macro['recovered'].isna().sum())
print(df_macro['monitoring'].isna().sum())

0
0

In [33]:
print(df_macro['week'].isna().sum())
print(df_macro['cases'].isna().sum())
print(df_macro['country'].isna().sum())
print(df_macro['date'].isna().sum())

0
0
0
0

In [34]:
df_macro.head(5)

         date country  week  cases  deaths     recovered     monitoring
0  2020-02-25  Brasil     9      0       0  5.537075e+06  674385.304239
1  2020-02-26  Brasil     9      1       0  5.537075e+06  674385.304239
2  2020-02-27  Brasil     9      1       0  5.537075e+06  674385.304239
3  2020-02-28  Brasil     9      1       0  5.537075e+06  674385.304239
4  2020-02-29  Brasil     9      2       0  5.537075e+06  674385.304239

#### Saving Changes

In [35]:
with pd.ExcelWriter("brazil_covid19_macro.xlsx") as writer:
        df_macro.to_excel(writer, index= False)