# STEAM GAMES(Basic Analyse & Treatment)
#### The database used for this study is at https://www.kaggle.com/datasets/tamber/steam-video-games?resource=download

In [8]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [9]:
st_datab = pd.read_csv('steam-200k.csv')
st_datab.head(6)

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0
5  151603712           Fallout New Vegas  purchase    1.0  0

In [10]:
st_datab.rename(columns={'151603712':'user_id', 'The Elder Scrolls V Skyrim': 'games', 'purchase': 'status', '1.0': 'time_played'}, inplace=True)
st_datab.drop(columns=['0'])

          user_id                       games    status  time_played
0       151603712  The Elder Scrolls V Skyrim      play        273.0
1       151603712                   Fallout 4  purchase          1.0
2       151603712                   Fallout 4      play         87.0
3       151603712                       Spore  purchase          1.0
4       151603712                       Spore      play         14.9
...           ...                         ...       ...          ...
199994  128470551                 Titan Souls      play          1.5
199995  128470551  Grand Theft Auto Vice City  purchase          1.0
199996  128470551  Grand Theft Auto Vice City      play          1.5
199997  128470551                        RUSH  purchase          1.0
199998  128470551                        RUSH      play          1.4

[199999 rows x 4 columns]

In [11]:
ex_title_element = [(151603712, 'The Elder Scrolls V Skyrim', 'purchase', '1.0')]
dfnew_e = pd.DataFrame(ex_title_element, columns = ['user_id', 'games' , 'status', 'time_played'])
st_datab = st_datab.append(dfnew_e, ignore_index=True)